<!DOCTYPE html>
<html lang="en">
<head>
<title>michaelma4</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel = "stylesheet"
   type = "text/css"
   href = "styles.css" /> <!-- this connects my styles.css file to this html file -->

</head>
<body>

<div class="header">
  <h1>michaelma4's Website</h1>
  <p>A <b>responsive</b> website created by michaelma4</p>
</div>

<div class="navbar">
  <a href="#" class="active">Home</a>
  <a href="page2.html">Page 2</a>
  <a href="#">Link</a>
  <a href="#" class="right">Link</a>
</div>

<div class="row">
  <div class="side">
    <h2>About Me</h2>
    <h5>Photo of me:</h5>
	
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    <h3>More Text</h3>
    <p>Lorem ipsum dolor sit ame.</p>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div>
  </div>
  <div class="main">
    <h2>A Bean Joke</h2>
    <h5>11/28/2019</h5>
	<img src="bean.jpg" alt="beans">
    <!--<div class="fakeimg" style="height:200px;">Image</div> -->
    <p>What did the bean say to the bean?</p>
    <p>"How you bean?"</p>
    <br>
    <h2>TITLE HEADING</h2>
    <h5>Title description, 11/28/2019</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>some text ...</p>
    <p>paragraph.</p>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>

</body>
</html>
